*{
    margin: 0px;
    padding: 0px;
}
.card-section{
   display: flex;
   gap: 52px;
   justify-content: center;
}
.card-container{
    width: 300px;
    height: 500px;
    background-color: white;
}