
*{

    margin: 0;
    padding: 0;
}
h2,h1 {
    font-size: 50px;
    color: #930f0f;
}
.heading{
    font-size: 20px;
    color:blue
}
#text{
    font-size: 20px;
    color: blueviolet;
}
.logo{
    font-size: 20px;
    color: #930f0f;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   /* margin: 10px;*/
   /* border: 1px double black;*/
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    
}
.header{
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: aquamarine;
}
#hero{
    padding-left: 80px;
}
.navigation-bar{
     
    position: relative;
    top: 0px;
    left: 80%;

}
.Internal-css{
width: 300px;
background-color: black;
padding: 50px 50px;
border-style: solid;
margin: 50px;


}
