*{
    margin: 0;
    padding: 0;
}
.logo{
    color: rgb(245, 239, 239);
    font-size: 18px;
    text-shadow: 1px 1px 10px rgb(225, 219, 219);
    
    
}
.header{
    background-color: rgba(38, 57, 73, 0.3);
    padding: 30px 60px;
    display: flex;
    align-items: center;
    width: 100%;
}
.navigation-bar{
    
    position:relative;
    align-items: center;
    left: 70%;
    padding: 10px 20px;
    
}
.navigation-bar-items{
    display: flex;
    gap: 25px;
    justify-content: space-between;
    width: 25%;
    font-weight: bold;

}
.hero{
    background-image: url(../Day\ 5/image/taj.jpg.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 8px 80px;
    
}
.heading{
    
    margin-left: 50px;
    padding-left: 80px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 200px;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 3px;
    color: white;

}
.heading-two{
    margin-top: 70px;
    position: absolute;
    margin-left: 20px;
    font-size: 25px;
    text-shadow: 1px 1px 5px black;
    color: white;
}
.heading-three{
    margin-top: 200px;
    font-size:20px ;
    text-shadow: 1px 1px 5px rgb(126, 120, 120);
    color: white;
}
.section h3{
    font-size: 32px;
    text-shadow: 1px 1px 5px black;
    margin-left: 80px;
}
section h1{
margin: 40px 40px 20px 0px;
text-shadow: 2px 1px 5px black;
font-size: 40px;
}
section p{
    font-size: 20px;
    margin-bottom: -50px;
    text-shadow: 1px 1px 2px black;
}
section a{
    padding-top: 12px;
    border-radius: 4px;
    font-size: 20px;
    color: rgb(28, 38, 146);
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}


.change:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}
@keyframes changetext{
    0%{content:"Mahatashtra" ;}
    20%{content:"Goa";}
    35%{content:"Kerla";}
    60%{content:"Delhi";}
    80%{content: "karnataka";}
    100%{content:"M.P";}

    }
    
.button-one{
    background: #fff;
    color: #000;
    position:relative;
    top: 150px;
    left: 10px;
    padding: 5px;
    border-radius: 1px;
    
    
}
.button-one:hover{
background: transparent;
color: #00b894;
}
.button-two{
    background:#00b894;
    color:white;
    position:relative;
    top: 150px;
    padding: 5px;
    border-radius: 1px;
}
.button-two:hover{
    background: transparent;
    color: black;
}
nav .nevigation-bar navigation-bar-items:first-child{
    color:#00b894;
}